---
name: PE Template Deploy

on:
  workflow_call:
    inputs:
      manifestPath:
        description: The path to the PE Manifest YAML file
        required: true
        type: string  
      environment:
        description: The environment to be created
        required: true
        type: string
      #env:
      #  description: provide the env variables
      #  required: true
      #  type: string  

           
jobs:
  testdeploy:
    name: "Test Job"
    runs-on: ubuntu-latest

    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.GHA_APPID }}
          private-key: ${{ secrets.GHA_APPKEY }}
          owner: AnoopHegde   

      - name: Checkout
        uses: actions/checkout@v3 

      - name: Checkout PE actions
        uses: actions/checkout@v3
        with:
           repository: AnoopHegde/pe-actions-deploy
           path: pe-actions
           token: ${{ steps.generate-token.outputs.token }}
           
     # - name: Inject Variables
     #   uses: lindluni/actions-variable-groups@v2
     #   with:
     #     groups: |
     #        .github/variables/kafka-var.yml

      - uses: joshjohanning/replace-tokens@v1.4
        with:
          tokenPrefix: '{{'
          tokenSuffix: '}}'
          files: '["**/*-manifest.yaml"]'  

      - name: cat after
        run: cat test-manifest.yaml                  
           
      - name: Plan
        id: plan
        uses: ./pe-actions/.github/actions/pe-plan
        with:
          manifestPath: ${{ inputs.manifestPath }}
          environment: ${{ inputs.environment }}

        
